@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Montserrat:wght@400;500;700&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', serif;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --background: var(--soft-beige); /* Tailwind colors */
  --foreground: var(--deep-brown);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

button {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: var(--rich-mahogany);
  text-decoration: none;
}

a:hover {
  color: var(--terracotta-red);
}